
.img_logo{
    width: 151px;
    height: 37px;
}
    
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .alert ::ng-deep {
    margin-left: 30%;
    margin-right: 30%;
    min-width: 50%;
    max-width: 100%;
}
