
.img_logo{
    /* width: 151px; */
    height: 50px;
}
    
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .alert ::ng-deep {
    margin-left: 30%;
    margin-right: 30%;
    min-width: 65%;
    max-width: 100%;
}

@media screen and (max-width: 460px) {
  .img_logo{
    /* width: 90px; */
    height: 35px;
}
}

.cart {
  color: burlywood;
}

a.nav-link.cart.active {
  color: white;
}

.position {
  z-index: 1;
    position: relative;
    top: 70px;
}

