.box {
    border: 1px solid;
    padding: 27px;
    box-shadow: 4px 3px #948787;
    margin: auto;
    min-height: 500px;
    margin-bottom: 11%;
    max-height: 100%;
}

.container {
    margin-top:6%;
}

select {
    margin-left: 10px;
    height: 30px;
    width: 150px;
    border: 1px solid lightgray;
}

.mt-75 {
    margin-top:75px
}

.widthAdj{
    width: 100px;
}

.ml40per {
    margin-left: 40%
}