<div class="wholeContainer">


<div class="container" *ngIf="mode">
  <app-loader *ngIf="isSignInLoading"></app-loader>
  <div class="box col-lg-5 col-md-6 col-sm-10" *ngIf="!isSignInLoading">
    <form>
      <b></b>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" #username class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="userpass">Password</label>
        <input type="password" #pass class="form-control" id="userpass" placeholder="Password">
      </div>
      <!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button (click)="submitLogin(username.value, pass.value)" class="btn btn-primary">Login</button>
      <!-- <button *ngIf="isGuest" (click)="guestLogin(email.value)" class="btn btn-success">Proceed Guest</button> -->
    </form>
    <div>
      <button class="btn btn-link" routerLink="/signup">Create a account</button>
    </div>
  </div>
</div>

<div class="container" *ngIf="!mode">
  <app-loader *ngIf="isSignInLoading"></app-loader>
  <div class="box col-lg-5 col-md-10 col-sm-10 pb-2 mb-2 p-3 signup" *ngIf="!isSignInLoading">
    <form>
      <div class="form-group">
        <label for="name1">Your Full Name</label>
        <input type="text" #name class="form-control" id="name1" placeholder="your your full name" >
      </div>
      <div class="form-group">
        <label for="email1">Email address</label>
        <input type="email" #email class="form-control" id="email1" placeholder="your email id" >
      </div>
      <div class="form-group">
        <label for="mobno">Contact Number</label>
        <input type="number" #mobno class="form-control" id="mobno" placeholder="your contact no" >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" #pass class="form-control" id="exampleInputPassword1" placeholder="choose password" >
      </div>
      <div class="form-check"  *ngIf="!isShopActive">
        <input type="checkbox" class="form-check-input" id="shopcheckbox" (click)="enableShop(true)" [checked]="isShopActive">
        <label class="form-check-label" for="shopcheckbox">Are you a shopkeeper</label>
      </div>
      <div class="form-check"  *ngIf="isShopActive">
        <input type="checkbox" class="form-check-input" id="shopcheckbox" (click)="enableShop(false)" [checked]="isShopActive">
        <label class="form-check-label" for="shopcheckbox">Are you a shopkeeper</label>
      </div>
       <div class="form-group" *ngIf="isShopActive">
        <label for="shopname">Shop Name</label>
        <input type="textbox" [(ngModel)]="shopName" [ngModelOptions]="{standalone: true}" class="form-control" id="shopname" placeholder="your shop name">
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" (change)="gender('MALE')">Male
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" (change)="gender('FEMALE')" >Female
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" (change)="gender('OTHER')" >Other
        </label>
      </div>

    <!--  <div class="form-group">
        <label for="hno">House No & Building</label>
        <input type="text" #pin class="form-control" id="hno" placeholder="H.no & Building">
      </div>
      <div class="form-group">
        <label for="street"></label>
        <input type="text" #pin class="form-control" id="hno" placeholder="H.no">
      </div> -->
      <button type="submit"  (click)="signUp(name.value, email.value, mobno.value, pass.value)" class="btn btn-primary">Sign Up</button>
    </form>

    <div>
      <button class="btn btn-link" routerLink="/login">GO to login page</button>
    </div>

  </div>

</div>
</div>