<div class="modal-header">
  <span class=textBackRed>{{noChangeMsg}}</span>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="!deleteAction">
    <form>
      <b></b>
      <div class="form-group">
        <label for="name">Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" #name class="form-control" id="name" [value]="item.name">
      </div>
      <div class="form-group" *ngIf="false">
        <label for="delivery">Delivery</label>&nbsp;&nbsp;
        <input type="text" #delivery class="form-control" id="delivery" [value]="item.delivery">
      </div>
      <div class="form-check-inline mb-4">
        <span class="w-105">Out of Stock</span>
        <label class="form-check-label w-80">
          Yes <input type="radio" class="form-check-input" name="optradio" (change)="stock('Y')" [checked]="item.stock === 'Y'">
        </label>
        <label class="form-check-label w-80">
         No <input type="radio" class="form-check-input" name="optradio" (change)="stock('N')" [checked]="item.stock === 'N'">
        </label>
      </div>
      <div class="form-group">
        <label for="Price">Price</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" #price class="form-control" id="price" [value]="item.price">
      </div>
      <div class="form-group">
        <label for="weight">Weight CGI</label>
        <input type="text" #weight class="form-control" id="weight" [value]="item.weight">
      </div>
      <div class="form-group">
        <label for="maxQty">Max Qty</label>&nbsp;&nbsp;&nbsp;
        <input type="text" #maxQty class="form-control" id="maxQty" [value]="item.max_qty">
      </div>
      <button (click)="deleteAct(true)" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
      <button (click)="update(name.value, 'NA', price.value, weight.value, maxQty.value)" class="btn btn-primary">Update Item</button>
    </form>
  </div>
  <div *ngIf="deleteAction">
    <h6>Item Name: {{item.name}}</h6>
    <span>Are you sure your want to delete ?</span><br>
    <button (click)="delete(item.item_id)" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
    <button (click)="deleteAct(false)" class="btn btn-secondary">Back</button>
  </div>
</div>