<div class="container-fluid table-responsive">
  <table class="table table-striped">
    <thead>
      <th>S.no</th>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </thead>
    <tbody *ngFor="let item of product_list; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>
        <i class="fa fa-minus-circle" aria-hidden="true" (click)="decrementQty(item.item_id)"></i>
        <input type="text" [(ngModel)]="item.qty" class="textBox" />
      <i class="fa fa-plus-circle" aria-hidden="true" (click)="incrementQty(item.item_id)"></i>
      </td>
      <td>{{item.price}}</td>
      <td><span (click)="delete(i)"><i class="fa fa-times" aria-hidden="true"></i></span></td>
    </tbody>
  </table>
  
  <div>
    <span *ngIf="product_list.length === 0" class="noItemCart">No Item added in the Cart</span>
    <div class="displayInLine">
      <button (click)="checkout(product_list)" [ngClass]="product_list.length > 0?'btn btn-primary':'btn btn-primary disabled'">Checkout</button>
      <button (click)="save(product_list)" [ngClass]="product_list.length > 0?'btn btn-primary':'btn btn-primary disabled'">Save Cart</button>
    </div>
    
  </div>
 
</div>
